{% extends 'base.html.twig' %}

{% block title %}Hello ExemplesUtilisationController!{% endblock %}

{% block body %}

On accede a l'API et on incruste le resultat dans le DOM. On obtient tous les aéroports:

<div id='contenu'>
<a href="/api/aeroports">Lien</a>
</div>
{% endblock %}
